body {
    background-color: #fffff0;
    font-family: 'Book Antiqua', sans-serif;
}

nav {
    text-align: center;
    font-size: 20px;
    border-bottom: 1.5px solid #818181;
    margin-bottom: 5%;
}
.bg-green {
    background-color: #98BF64;
}

a {
    color: #98BF64;
    padding-left: 2%;
    padding-right: 2%;
}
footer {
    text-align: center;
    padding: 3px;
    background-color: #98BF64;
    color: #fffff0;
}