<!DOCTYPE html>
<html lang="en" ng-app="pizzaApp">
<head>
    <title>Maple Glen Pizza - Order</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/styles.css" />
</head>
<body ng-controller="orderController">

    <div ng-include="'/nav.html'"></div>

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>{{ pageTitle }}</h2>
            </div>
        </div>

        <!-- Order Form -->
        <form id="order" ng-submit="submitOrder()">
            <div class="form-group">
                <label for="fullName">Full Name*</label>
                <input type="text" class="form-control" id="fullName" ng-model="order.fullName" required>
            </div>
            <div class="form-group">
                <label for="email">Email*</label>
                <input type="email" class="form-control" id="email" ng-model="order.email" required>
            </div>
            <div class="form-group">
                <label for="phoneNumber">Phone Number*</label>
                <input type="tel" class="form-control" id="phoneNumber" ng-model="order.phoneNumber" required>
            </div>
            <!-- Radio Buttons for Pizza Base -->
            <div class="form-group">
                <label for="pizzaBase">Pizza Base*</label>
                <div class="form-check">
                    <input type="radio" class="form-check-input" id="plainBase" ng-model="order.pizzaBase" value="Plain">
                    <label class="form-check-label" for="plainBase">Plain ($20.75)</label>
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input" id="glutenFreeBase" ng-model="order.pizzaBase" value="Gluten Free">
                    <label class="form-check-label" for="glutenFreeBase">Gluten Free ($20.75) </label>
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input" id="whiteBase" ng-model="order.pizzaBase" value="White">
                    <label class="form-check-label" for="whiteBase">White ($24.50)</label>
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input" id="tomPie" ng-model="order.pizzaBase" value="Tomato Pie">
                    <label class="form-check-label" for="tomPie">Tomato Pie ($20.75)</label>
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input" id="boardwalk" ng-model="order.pizzaBase" value="Boardwalk">
                    <label class="form-check-label" for="boardwalk">Boardwalk ($29.95)</label>
                </div>
            </div>
            <!-- Checkboxes for toppings -->
            <div class="form-group">
                <label>Toppings ($3.50 ea.)</label>
                <div style="display: flex; flex-wrap: wrap;">
                    <div ng-repeat="topping in toppings" style="margin-right: 10px;">
                        <input type="checkbox" id="{{topping}}" ng-model="order.toppings[topping]" ng-true-value="'{{topping}}'" ng-false-value="">
                        <label for="{{topping}}">{{topping}}</label>
                    </div>
                </div>
            </div>
            <!-- Checkboxes for premium toppings -->
            <div class="form-group">
                <label>Gourmet Toppings ($7.00 ea.)</label>
                <div style="display: flex; flex-wrap: wrap;">
                    <div ng-repeat="topping in premiumToppings" style="margin-right: 10px;">
                        <input type="checkbox" id="{{topping}}" ng-model="order.premiumToppings[topping]" ng-true-value="'{{topping}}'" ng-false-value="">
                        <label for="{{topping}}">{{topping}}</label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="specialInstructions">Special Instructions</label>
                <textarea class="form-control" id="specialInstructions" rows="3" ng-model="order.specialInstructions"></textarea>
            </div>

            <div class="form-group">
                <label for="creditCard">Credit Card*</label>
                <input type="text" class="form-control" id="creditCard" ng-model="order.creditCard" required>
            </div>
            <div class="form-group">
                <label for="expDate">Exp Date*</label>
                <input type="text" class="form-control" id="expDate" ng-model="order.expDate" required>
            </div>
            <div class="form-group">
                <label for="cvv">CVV*</label>
                <input type="text" class="form-control" id="cvv" ng-model="order.cvv" required>
            </div>
            <div class="form-group">
                <label for="billingZip">Zipcode*</label>
                <input type="text" class="form-control" id="billingZip" ng-model="order.billingZip" required>
            </div>
            <!-- Order Summary -->
            <div class="container" id="orderSummary">
                <h3>Order Summary</h3>
                <!-- Itemized List of Costs -->
                <ul>
                    <!-- add pizza base -->
                    <li ng-if="order.pizzaBase">Pizza Base: {{ order.pizzaBase }} - ${{ baseCost }}</li>                    
                    <!-- add regular toppings -->
                    <li ng-repeat="topping in getToppingsArray(order.toppings)">{{ topping }} - ${{ toppingsPrice }}</li>
                    <!-- add premium toppings -->
                    <li ng-repeat="topping in getToppingsArray(order.premiumToppings)">{{ topping }} - ${{ premiumToppingsPrice }}</li>
                </ul>            
                <!-- Total Cost -->
                <h3>Total: ${{ calculateTotalCost() }}</h3>
                <button type="submit" id="placeOrder" class="btn btn-primary">Place Order</button>
            </div>

        </form>
    </div>

    <div ng-include="'/footer.html'"></div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-route.min.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/controllers/orderController.js"></script>
</body>
</html>
